@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

/* ====================================
 _layout.scss
==================================== */

html{
    font-size: 62.5%;
}

body{
    font-family: $font-primary;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    background-color: #fff;
    color: $text-base-color;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-base;
    width: 100%;
}

/* TABLET */
@media screen and (width <= 1140px) {
    body{
        font-size: $font-size-base-small;
    }
}

/* SP */
@media screen and (width <= 767px) {
    body{
        font-size: $font-size-base-small;
    }
}
