@import 'foundation/variables';
@import 'foundation/mixins';
@import 'foundation/layout';
@import 'foundation/component';

/* =====================================================
   =====================================================
   ********************  top.scss  *********************
   =====================================================
   ===================================================== */

/* ====================================
 セクション外要素
==================================== */
.particles{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; // 他のコンテンツの背後に表示
    width: 100%;
    height: 100%;
    pointer-events: none;  // パーティクルの上でのクリックを無効にする
}

.backgroundOuter{
    background-color: $background-color;
    padding: 108px 0 120px 0;
    background-image: url(../images/feature-background.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: left top 80px;
}

/* ====================================
 informationBar
==================================== */
// .informationBar {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     height: 30px;
//     background: $background-color;
//     line-height: 30px;

//     &__text {
//         font-size: $font-size-base-small;
//     }
// }

/* ====================================
 fixedBar
==================================== */
.fixedBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;

    @media screen and (max-width: 1140px) {
      display: block;
    }

    @media screen and (min-width: 1141px) {
      display: none;
    }

    &__link {
      display: block;
      width: 100%;
      color: #fff;
      text-decoration: none;
      padding: 10px 0;
      &:hover {
        background-color: #555; /* ホバー時の背景色変更 */
      }
    }
  }

/* ====================================
 hero
==================================== */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 120px;
}

.heroMainImage{
    width: 40vw;
    max-height: inherit;
}

.heroContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58vw;
    height: 58vw;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 0.1);
    background-color: #fff;
    &__title{
        margin-bottom: 25px;
        font-family: $font-logo;
        font-size: $font-size-xxl;
    }
}

/* 1250px以下のPC画面サイズは6remにする */
@media screen and (max-width: 1250px) {
    .heroContent__title {
        font-size: $font-size-xl;
    }
}

.heroPoint{
    display: flex;
    column-gap: 32px;
    align-items: center;
    margin-bottom: 50px;
    &__item {
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: $main-color;
        font-size: $font-size-xs;
        font-weight: $font-weight-medium;
        line-height: 2;
        &Icon {
            width: 40px;
            height: auto;
        }
    }
}

.heroPrice {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
    color: $main-color;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    line-height: 1;

    &__decoration {
        font-size: $font-size-xl;
        line-height: 1;
        &.--left {
            padding-right: 20px;
        }
        &.--right {
            padding-left: 20px;
        }
    }

    &__amount{
        margin: 0 10px;
        font-size: $font-size-xl;
        font-weight: $font-weight-bold;
        line-height: 1;
    }
}

/* TABLET */
@media screen and (width <= 1140px) {

    .hero{
        flex-direction: column;
        align-items: start;
        max-width: none;
        height: auto;
        justify-content: flex-start;
    }

    .heroMainImage{
        width: 68vw;
        max-height: inherit;
        position: relative;
        z-index: 2;
    }

    .heroContent{
        margin-top: -150px;
        width: 100vw;
        height: 100vw;
        &__title{
            margin-bottom: 25px;
            font-family: $font-logo;
            font-size: $font-size-xl;
        }
    }

    .heroPoint{
        column-gap: 24px;
        &__item {
            font-size: $font-size-xxs;
            &Icon {
                width: 48px;
                height: auto;
            }
        }
    }

    .heroPrice {
        margin-bottom: 10px;
        font-size: $font-size-sm;
        &__decoration {
            font-size: $font-size-lg;
        }
        &__amount{
            margin: 0 8px;
            font-size: $font-size-lg;
        }
    }
}

/* SP */
@media screen and (width <= 767px) {
}

/* ====================================
 about
==================================== */
.about {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    &__image {
        position: absolute;
        top: 15%;
        right: 0;
        width: 493px;
        height: auto;
    }
}

.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
    width: 640px;
    height: 640px;
    border-radius: 50%;
    background-color: aqua;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    &__text {
        width: 360px;
        line-height: $line-height-large;
    }
}

/* TABLET */
@media screen and (width <= 1140px) {
}

/* SP */
@media screen and (width <= 767px) {
}

/* ====================================
 feature
==================================== */
.feature {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto 120px;
}

.featureItem {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    &__wrapper {
        position: relative;
        background-color: aqua;
    }
    &__image {
        position: absolute;
        width: 400px;
        height: auto;
        top: 50%; /* コンテナの中央に配置 */
        transform: translateY(-50%); /* 自身の高さの50%を上に移動して中央に揃える */
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
}

.featureText {
    width: 700px;
    margin-left: auto;
    padding: 60px 40px 60px 120px;
    background-color: beige;
    border-radius: 30px;
    border-bottom: 8px solid $main-color;
    background-color: #fff;
    &__heading {
        margin-bottom: 16px;
        display: flex;
        column-gap: 16px;
        align-items: center;
    }
    &__speechBubble {
        width: 60px;
        height: 60px;
        background-image: url(../images/feature-speechbubble.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        &Number {
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            line-height: 1;
            font-weight: $font-weight-medium;
            color: #fff;
        }
    }
    &__title {
        color: $main-color;
        font-size: $font-size-xs;
        font-weight: $font-weight-medium;
    }
    &__description {
        line-height: $line-height-large;
    }
}

/* ====================================
 feature
==================================== */

.voice {
    margin-bottom: 128px;
}

.voiceCard {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto 200px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: space-between;
    &__item {
        background-color: #fff;
        padding: 28px;
        border-radius: 30px;
        border-bottom: 8px solid $main-color;
        &Image {
            width: 160px;
            height: auto;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        &Title {
            font-size: $font-size-xs;
            text-align: center;
            font-weight: $font-weight-medium;
            color: $main-color;
            margin: 16px 0;
        }
        &Text {
            line-height: $line-height-large;
        }
    }
}


.item {
    margin-right: 20px; /* スライド間の間隔を10pxに設定 */
}

// .slick-track {
//   display: flex;
//   gap: 30px; /* 間隔を設定 */
// }

.bottom .slick-slide {
    transform: translateX(50%); /* 下のスライダーの位置をずらす */
}